:root {
	--black			: #251f40;
	--white			: #fff2f7;
	--blue			: #a3c8ff;
}

@font-face {
  font-family: "ftmono";
  src: url("../assets/font.ttf");
}

html {

}

body {
	margin			: 0px;
	padding			: 0px;
	font-family		: "ftmono";
	background-color	: var(--black);
	color			: var(--white);
}

a {
	color			: var(--blue);
	text-decoration		: none;
}

a:hover {
	color			:var(--white);
}

header {
	width			: 100%;
	top			: 0%;
	background-color	: rgba(125, 125, 125, 0.25);
}

footer {
	padding			: 0px;
	margin			: 0px;
	position		: fixed;
	width			: 100%;
	bottom			: 0%;
	height			: 5%;
	color			: var(--blue);
}

menu {
	border			: solid;
	border-color		: var(--white);
	position		: fixed;
	top			: 15%;
	width			: 10%;
	height			: 80%;
	padding			: 0px;
	margin			: 0px;
}

main {
	position		: fixed;
	left			: 10%;
	top			: 15%;
	width			: 40%;
	height			: 80%;
	margin			: 0px;
	padding			: 0px;
}

article {
	overflow		: scroll;
	position		: fixed;
	left			: 10%;
	top			: 20%;
	width			: 40%;
	height			: 80%;
	margin			: 0px;
	padding			: 0px;
}


img {
	position		: fixed;
	bottom			: 0%;
	right			: 5%;
}

.hljs {
	border-radius		: 10px;
	border-color		: var(--white);
	border-style		: solid;
	border-width		: 1px;
}
